.error{
    color: red;
}

.butons{
    color: #007bff;;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    padding: 0px;
    cursor: pointer;
}

#lupa{
    margin-top: 2px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance:textfield;
  margin: 0; 
}