.contenido{ 
    height: 515px;
    padding-left:  10px;
    padding-right: 10px;
    margin-left:   10px;
    margin-right:  10px;
    border: 10px white;
}
footer{
    text-align: center;
    font-size: 8px;
    background: #93adb7;
    padding-top: 10px;
    width: 370px; 
    padding-left: 10px;
    

}
.bg-light {
    background-color: #7acfefc4 !important;
}
.navbar-brand{
    font-family: audiowide;
    padding-right: 83px;
}
.btn-outline-success{
color: #000203;
background-color: transparent;
background-image: none;
border-color: #000203;
}
